html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 98vw;
  height: 97vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
}

body header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

#logo {
  height: 90px;
}

/*Use #id para especificar um ID*/
#title {
  font-style: italic;
}

#container {
  height: 100%;
  width: 100%;
  margin: 15px 0;
  background-image: url(./util/aaron-burden-QJDzYT_K8Xg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: black solid;
  display: flex;
  flex-direction: column;
}

.form {
  width: 400px;
  height: 475px;
  margin: auto 5vw auto auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  border: black 3px solid;
  border-radius: 5px;
}

.formulario {
  width: 350px;
  height: 75px;
  margin: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.formulario header {
  display: flex;
  font-size: 24px;
  margin-left: 35px;
  margin-bottom: 0px;
}

.campo {
  margin: auto;
  width: 80%;
  margin-top: 30px;
}

.campo input {
  background-color: rgb(241, 237, 237);
  width: 100%;
  height: 25px;
  border: 2px solid rgb(93, 92, 92);
  border-radius: 5px;
}

.formulario button {
  margin: 45px 30%;
  border-radius: 5px;
  font-size: 16px;
}

.from #backgroundImg {
  width: 100%;
}

/*Use .classe para especificar uma classe*/
